:root {
    --base-yellow: #FAFF1D;
    --base-orange: #FF964A;
    --base-white: #FFFBFB;
    --background: #F9EFD4;
    --hover-orange: #DF7E39;
    --base-red: #F54A4A;
    --base-pink: #FF7FFA;
    --base-blue: #3042E8;
    --unselected-white: #D9D9D9;
    --base-green: #57AD75;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background);
}