# Python
*.py[cod]
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribuição / pacotes
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Instalação do pip
pip-log.txt
pip-delete-this-directory.txt

# Instalação de bytecode
__pycache__/

# pyenv
.python-version

# cobertura de código
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Instalação de envs
*.env
*.env.dev
*.env.prod
*.env.test
.env
.env.
.venv/
.envrc
.env.local
.venv/
.envrc
.env.local

# Ferramentas
.pytest_cache/
.ipynb_checkpoints
.python_history

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Alembic
alembic/versions/*.pyc
alembic/versions/*.pyo
alembic/versions/__pycache__/

# Logs e relatórios
*.log
*.out
*.err
*.tar.gz

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de configuração
*.ini
*.cfg
*.bak
*.orig
*~

# Arquivos de banco de dados
*.db

# Docker
.dockerignore
Dockerfile

# Outras pastas ou arquivos específicos do projeto
migrations/
