.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cardBook {
    /* background-color: #3042E8; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 140px;
    justify-content: center;
}

.titulos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.autor {
    font-size: 14px;
    margin-left: 5px;
}

.book {
    margin: 5px auto 0 auto;
    background-color: #333;
    width: 90%;
    height: 191px;
}

.infos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-top: 5px;
}

.btn {
    width: 68px;
    height: 20px;
    background-color: #3042E8;
    color: #fff;
    font-size: 14px;
    border: 1px solid black;
}

.div {
    display: flex;
    width: 100vw;
    margin-top: 20px;
    border-top: 1.5px solid black;
    align-items: center;
    justify-content: center;
    height: 65px;
}

.btnBook {
    width: 155px;
    height: 29px;
    background-color: #3042E8;
    border: 1px solid black;
    color: white;
    font-size: 15px;
}