.container {
  margin-top: 20px;
  border-radius: 5px;
  border: 1.5px solid black;
  width: 90%;
  background-color: white;
}

@media (min-width: 768px) {
  .container {
    width: 75vw;
  }
}

@media (min-width: 909px) {
  .container {
    width: 50vw;
    max-width: 650px;
  }
}