.orange {
    --btn-base-color: var(--base-orange);
    --btn-hover-color: var(--hover-orange);
}

.red {
    --btn-base-color: var(--base-red);
    --btn-hover-color: var(--hover-red);
    color: var(--base-white);
}

.green {
    --btn-base-color: var(--base-green);
    --btn-hover-color: var(--hover-green);
    color: var(--base-white);
}

.blue {
    --btn-base-color: var(--base-blue);
    --btn-hover-color: var(--hover-blue);
    color: var(--base-white);
}

.btn {
    display: flex;
    align-items: center;
    background-color: var(--btn-base-color);
    outline: 1.5px solid var(--base-black);
}

.btnPadding {
    padding: 5px 10px;
}

.btn:hover {
    background-color: var(--btn-hover-color);
}

.text+div {
    margin-left: 10px;
}

.iconImg {
    height: auto;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}