.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  background-color: var(--base-yellow);
  box-shadow: 0 4px 2px 0px gray;
  font-weight: 600;
}

.logo {
  margin-left: 20px;
}

.nav {
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 1em;
  color: var(--base-black);
}

.navItem,
.logo {
  display: flex;
  align-items: center;
  height: 30px;
}

.navItem:hover,
.logo:hover {
  box-shadow: 0 1px 0 var(--base-black);
}

@media (max-width: 425px) {
  .container {
    font-size: 16px;
  }

  .logo {
    margin-left: 10px;
  }

  .nav {
    margin-right: 10px;
  }
}