.username {
  display: none;
}

@media (min-width: 768px) {
  .flexReverse {
    display: flex;
    flex-direction: row-reverse; 
  }

  .username {
    display: block;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 22px;
  }
  
  .contentContainer {
    width: 100%;
    box-shadow: 1.5px 0px 0px var(--base-black);
  }
}